@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

/* animation Apprendre */
body {
  background: #000;
  margin: 0;
  overflow: hidden;
}

html,
body {
  height: 100%;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end; /* Place en bas */
  justify-content: flex-start; /* Place à gauche */
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px; /* Ajuste l'espacement si nécessaire */
}

.ball {
  width: 50px;
  height: 50px;
  background: #177d03;
  border-radius: 50%;
  animation: boucneAnimation 1s infinite;
}

@keyframes boucneAnimation {
  50% {
    transform: translateY(-100px);
    animation-timing-function: ease-in;
  }

  0%,
  100% {
    transform: scaleX(1.2) scaleY(0.7);
  }

  97% {
    transform: scaleX(1);
  }
}

.shadow {
  position: absolute;
  width: 50px;
  height: 4px;
  background: rgb(61, 58, 58);
  border-radius: 50%;
  animation: shadowAnimation 1s infinite;
  transform: translateY(22px);
}

@keyframes shadowAnimation {
  0%,
  100% {
    transform: scaleX(0.7) translateY(22px);
    opacity: 1;
  }

  50% {
    transform: scaleX(1.2) translateY(22px);
    animation-timing-function: ease-in-out;
    opacity: 0.2;
  }
}


/* animation page secondaire */
/* Arrière-plan dégradé */
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #142852, #0e022e);
  overflow: hidden;
}


/* Animation de la neige */
.snowfall li {
  position: absolute;
  background: white;
  border-radius: 50%;
  opacity: 0.8;
  animation: fall linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(100vh);
  }
}

  
/* page a venir */
body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-image: radial-gradient(
    circle farthest-corner at 100% 0%,
    #ffa500,
    50%,
    lightblue 90%
  );
  background-attachment: fixed;
}

:root {
  --ground: #42aa46;
  --tan: #a7ac5c;
  --green2: #878822;
  --brown: #211610;
  --brightgreen: #4a560c;
  --graygreen: #303b2b;
}

/* Style des  l'arbres */
.tree {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Agrandissement vertical pour les grands arbres */
.tree.large-tree .tree__1,
.tree.large-tree .tree__2,
.tree.large-tree .tree__3,
.tree.large-tree .tree__4 {
  transform: scaleY(1.5);
}

/* Branches de l'arbre */
.tree__1,
.tree__2,
.tree__3,
.tree__5 {
  width: 0;
  height: 0;
  border-radius: 10%;
  position: relative;
  z-index: 1; /* Branches au-dessus du tronc */
}

/* Petite branche du haut */
.tree__5 {
  border: 20px solid transparent;
  border-bottom: 25px solid var(--tan);
}

/* Première couche de branche */
.tree__1 {
  border: 45px solid transparent;
  border-bottom: 50px solid var(--green2);
  margin-top: -60px;
}

/* Deuxième couche de branche */
.tree__2 {
  border: 60px solid transparent;
  border-bottom: 65px solid var(--brightgreen);
  margin-top: -80px;
}

/* Troisième couche de branche */
.tree__3 {
  border: 70px solid transparent;
  border-bottom: 80px solid var(--graygreen);
  margin-top: -100px;
}

/* Tronc de l'arbre */
.tree__4 {
  width: 10px;
  height: 100px;
  background: var(--brown);
  position: relative;
  z-index: 0; /* Tronc derrière les branches */
}

/* Tronc plus long pour les grands arbres */
.tree.large-tree .tree__4 {
  height: 150px;
}

/* Herbe au sol */
#grass {
  background-image: linear-gradient(to left, var(--green2), var(--ground));
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 40px;
  z-index: 2; /* S'assure que l'herbe est au-dessus des arbres, si voulu */
}

/* nuage niveau1 primaire */
.cloud {
  height: 180px;
  aspect-ratio: 1.8;
  --g: radial-gradient(50% 50%, #000 98%, #0000) no-repeat;
  mask: var(--g) 100% 100%/30% 60%, var(--g) 70% 0/50% 100%, var(--g) 0 100%/36% 68%, var(--g) 27% 18%/26% 40%, linear-gradient(#000 0 0) bottom/67% 58% no-repeat;
  background: #eaf6fc; /* ⬅️ blanc bleuté très pâle */
  opacity: 0.8;
}
:root {
  --bg: #53b7f0;
  --white: #ffffff;
  --black: #030700;
  --red: #fe0000;
  --yellow: #ed8001;
  --brown: #894204;
}

.airplane-fixed {
  width: 50vmin;
  height: 50vmin;
  position: absolute;
  left: -1vmin;
  top: 3vmin;
  z-index: 20;

  background:
    radial-gradient(ellipse at 70% 50%, #ed8001  1.25vmin, transparent 0.5vmin ) calc(7.25vmin) calc(10.5vmin)  / 2.5vmin 2.5vmin no-repeat,
    radial-gradient(ellipse at 50% 50%, #894204  .375vmin, transparent .25vmin ) calc(8.75vmin) calc(6.75vmin)  / 0.75vmin 4vmin no-repeat,
    radial-gradient(ellipse at 50% 50%, #894204  .375vmin, transparent .25vmin ) calc(8.75vmin) calc(12.5vmin)  / 0.75vmin 4vmin no-repeat,

    linear-gradient(80deg, transparent 3.25vmin, #c40000 3.25vmin, #c40000 3.75vmin, transparent 3.75vmin ) calc(12.5vmin) calc(6.5vmin)  / 6vmin 6vmin no-repeat,
    linear-gradient(80deg, transparent 3.25vmin, #c40000 3.25vmin, #c40000 3.75vmin, transparent 3.75vmin ) calc(16vmin) calc(6.5vmin)  / 6vmin 6vmin no-repeat,

    radial-gradient(ellipse at 70% 60%, #c40000  2.875vmin, transparent 0.5vmin ) calc(12.5vmin) calc(5.5vmin)  / 5vmin 1.25vmin no-repeat,
    linear-gradient(10deg, #c40000 1.25vmin, transparent 1.25vmin ) calc(16vmin) calc(5.75vmin)  / 6vmin 1vmin no-repeat,
    radial-gradient(ellipse at 70% 40%, #c40000  2.875vmin, transparent 0.5vmin ) calc(13.5vmin) calc(12.25vmin)  / 5vmin 1.25vmin no-repeat,
    linear-gradient(170deg, #c40000 1.25vmin, transparent 1.25vmin ) calc(17vmin) calc(12.25vmin)  / 6vmin 1vmin no-repeat,

    radial-gradient(circle, #030700  0.5vmin, #ed8001  0.5vmin, #ed8001  1.125vmin, #030700  1.125vmin,  #030700  1.75vmin,  transparent 0.5vmin ) calc(13vmin) calc(17vmin)  / 3.5vmin 3.5vmin no-repeat,
    radial-gradient(ellipse at 25% 100%, transparent 2vmin, #b30000 2vmin, #b30000 2.5vmin, transparent 0.5vmin ) calc(13.375vmin) calc(14.375vmin)  / 6vmin 4vmin no-repeat,

    linear-gradient(180deg, #b30000 4vmin, transparent 0.5vmin ) calc(14.625vmin) calc(13.5vmin)  / 0.5vmin 4.5vmin no-repeat,
    linear-gradient(-60deg, transparent 2.25vmin, #b30000 2.25vmin, #b30000 2.625vmin, transparent 2.625vmin ) calc(13.5vmin) calc(14vmin)  / 4.5vmin 4.5vmin no-repeat,

    radial-gradient(circle, #030700  .25vmin, #ed8001  .25vmin, #ed8001  0.5vmin, #030700  0.5vmin,  #030700  0.875vmin,  transparent 0.5vmin ) calc(32vmin) calc(11.5vmin)  / 3.5vmin 3.5vmin no-repeat,
    linear-gradient(90deg, transparent 2.25vmin, #b30000 2.25vmin, #b30000 2.5vmin, transparent 2.5vmin ) calc(31.25vmin) calc(11.5vmin)  / 4.5vmin 1.5vmin no-repeat,
    linear-gradient(25deg, transparent 2.25vmin, #b30000 2.25vmin, #b30000 2.5vmin, transparent 2.5vmin ) calc(29vmin) calc(12vmin)  / 4.5vmin 1.5vmin no-repeat,

    radial-gradient(ellipse at 120% 100%, transparent 2vmin, #b30000 2vmin, #b30000 2.375vmin, transparent 0.5vmin ) calc(13vmin) calc(5vmin)  / 5vmin 4vmin no-repeat,
    linear-gradient(90deg, #b30000 2.5vmin, transparent 0.5vmin ) calc(17.75vmin) calc(7.75vmin)  / 0.25vmin 1.25vmin no-repeat,

    radial-gradient(ellipse at 100% 100%, #fe0000 4.375vmin, transparent 0.5vmin ) calc(10vmin) calc(9vmin)  / 3.5vmin 2.5vmin no-repeat,
    radial-gradient(ellipse at 100% 0%, #e60000 4.375vmin, transparent 0.5vmin ) calc(10vmin) calc(11.5vmin)  / 3.5vmin 3.5vmin no-repeat,

    linear-gradient(180deg, #fe0000 3.5vmin, transparent 0.5vmin ) calc(14vmin) calc(9vmin)  / 4vmin 1vmin no-repeat,
    linear-gradient(180deg, #fe0000 3.5vmin, transparent 0.5vmin ) calc(14vmin) calc(10vmin)  / 8.5vmin 1.5vmin no-repeat,
    linear-gradient(5deg, #fe0000 2.5vmin, transparent 0.5vmin ) calc(22.5vmin) calc(6.5vmin)  / 11.5vmin 5vmin no-repeat,
    linear-gradient(173deg, #e60000 3.75vmin, transparent 0.5vmin ) calc(14vmin) calc(11.5vmin)  / 8.5vmin 7.75vmin no-repeat,
    linear-gradient(170deg, #e60000 2.75vmin, transparent 0.5vmin ) calc(22.5vmin) calc(11.5vmin)  / 11.5vmin 5.5vmin no-repeat,

    radial-gradient(ellipse at 100% 100%, #fe0000 4vmin, transparent 0.5vmin ) calc(25vmin) calc(0vmin)  / 9vmin 10vmin no-repeat,
    radial-gradient(ellipse at 0% 100%, #fe0000 2.25vmin, transparent 0.5vmin ) calc(34.25vmin) calc(0vmin)  / 5vmin 10vmin no-repeat,
    radial-gradient(ellipse at 0% 0%, #fe0000 2.25vmin, transparent 0.5vmin ) calc(34.25vmin) calc(9.5vmin)  / 5vmin 5vmin no-repeat;
}

/* niveau 2 primaire */


.moon {
  position: absolute;
  top: 30px;     /* distance depuis le haut de l'écran */
  left: 30px;    /* distance depuis la gauche de l'écran */
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(222, 213, 228, 0.887) 4%, rgb(248, 246, 246) 100%);
  box-shadow: 0 0 70px 10px #f5e4e4ab, 0 0 70px 20px #ca69b5dc, 0 0 70px 30px #e772e1dc;
  animation: move 5s infinite;
  z-index: 10;
}


@keyframes move {
  50% {
    box-shadow: 0px 0px 70px 20px #f5e4e4dc, 0 0 70px 40px #ca69b5dc, 0px 0px 70px 40px #e772e1dc;
  }
}

.crat {
  position: absolute;
  top: 80px;
  left: 70px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: inset 1px 4px 5px 1px rgb(185, 173, 185);
  border: 4px solid rgb(216, 205, 219);
}

.crat2 {
  top: 45px;
  left: 40px;
  width: 10px;
  height: 10px;
}

.crat3 {
  top: 25px;
  left: 50px;
  width: 20px;
  height: 20px;
}

.crat4 {
  top: 35px;
  left: 100px;
  width: 15px;
  height: 15px;
}

.crat5 {
  top: 120px;
  left: 60px;
  width: 10px;
  height: 10px;
}

.crat6 {
  top: 90px;
  left: 20px;
  width: 20px;
  height: 20px;
  box-shadow: inset 1px 7px 7px 1px rgb(204, 183, 204);
}
