@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

/* animation Apprendre */
body {
  background: #000;
  margin: 0;
  overflow: hidden;
}

html,
body {
  height: 100%;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end; /* Place en bas */
  justify-content: flex-start; /* Place à gauche */
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px; /* Ajuste l'espacement si nécessaire */
}

.ball {
  width: 50px;
  height: 50px;
  background: #177d03;
  border-radius: 50%;
  animation: boucneAnimation 1s infinite;
}

@keyframes boucneAnimation {
  50% {
    transform: translateY(-100px);
    animation-timing-function: ease-in;
  }

  0%,
  100% {
    transform: scaleX(1.2) scaleY(0.7);
  }

  97% {
    transform: scaleX(1);
  }
}

.shadow {
  position: absolute;
  width: 50px;
  height: 4px;
  background: rgb(61, 58, 58);
  border-radius: 50%;
  animation: shadowAnimation 1s infinite;
  transform: translateY(22px);
}

@keyframes shadowAnimation {
  0%,
  100% {
    transform: scaleX(0.7) translateY(22px);
    opacity: 1;
  }

  50% {
    transform: scaleX(1.2) translateY(22px);
    animation-timing-function: ease-in-out;
    opacity: 0.2;
  }
}


/* animation page secondaire */
/* Arrière-plan dégradé */
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #142852, #0e022e);
  overflow: hidden;
}


/* Animation de la neige */
.snowfall li {
  position: absolute;
  background: white;
  border-radius: 50%;
  opacity: 0.8;
  animation: fall linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(100vh);
  }
}
  

/* animation page a venir */
html, body {
  margin: 0;
  padding: 0;
}

.container.flower {
  position: relative;
  width: 5px;
  height: 5px;
  margin: 150px auto 0;
}

.container.flower div {
  box-sizing: border-box;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgba(212, 102, 130, 0.8);
}

@for $i from 1 through 6 {
  .container.flower div:nth-child(#{$i}) {
    transform: rotate(($i - 1) * 60deg) translate(20px);
  }
}

.container.leaf {
  position: relative;
  z-index: -1;
  width: 10px;
  height: 10px;
  left: 20px;
  top: 80px;
  margin: 0 auto;
  transform: rotate(-100deg);
}

.container.leaf div {
  box-sizing: border-box;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgba(34, 139, 34, 0.8);
}

.container.stem {
  position: relative;
  z-index: -1;
  margin: 0 auto;
  width: 4px;
  height: 150px;
  background: rgba(48, 32, 19, 0.9);
  border-radius: 2px;
  transform: rotate(-5deg);
}
